{% extends "layout.html"%}


{% block content %}
    <br>
    <div >
    <h1 class="display-1 text-center mt-5  pt-5 " id="drop-down" >
      
      <span class="w-blue">W</span>
      <span class="o-red">o</span>
      <span class="o-yellow">o</span>
      <span class="w-blue">g</span>
      <span class="l-green">l</span>
      <span class="e-red">e</span>



    </h1>

    <br>
    <br>
    <p class='text-center lead pt-3 fade-in' >A google for work. Let's get your dream job.</p>
    </div>
    
    <div class='d-flex justify-content-center form-group mt-5 ps-5  fade-in'>

    <form method='POST' action="" class='row'>
        {{form.hidden_tag()}}
       <div class='col-4 '>
        {{form.text( class='form control', placeholder=' job / skill ', list="skill") }} 

        <datalist id="skill">
            <option value="software engineer">
            <option value="machine learning">
            <option value="python">
        </datalist>
       
      </div>

     

      <div class="col-4">

        
        {{form.location( class='form control', placeholder=' location', list="locations")}}
        <datalist id="locations">
            <option value="banglore">
            <option value="chennai">
            <option value="delhi">
            <option value="hyderabad">
            <option value="mumbai">
            <option value="pune">
        </datalist>
       
    </div>
   

        <div class='col-4'>
        {{form.submit(  onclick="myFunction()" )}}
        </div>

    </form>

    
    </div>

    <br>

    <div id="spinner" class="spinner-border text-secondary text-center " style="margin-left: 45%;  display:none; " role="status">
      </div>


      <br>
       <div class="row mx-auto text-center" style="padding-top: 10%; ">
        <div class="col-12">

            <img src='./static/search.svg' height='30px' width='30px'> &ensp;
            <img src='./static/linkedin.svg' height='30px' width='30px'> &ensp;
            <img src='./static/indeed.svg' height='30px' width='100px'> &ensp;
           
            <span>

            <img src='./static/internshala.svg' height='30px' width='90px'> &ensp;
            <img src='./static/tj.png' height='20px' width='90px'>  &ensp;
          </div>
        </span>

      </div> 

       




<!--       
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="./static/script.js"></script>
 -->





    <script>

    function myFunction() {
    var x = document.getElementById("spinner");
    x.style.display = "block";
  
    }


    </script>



{% endblock content %}


<div class="footer text-center" style=" bottom: 0px; position: fixed; margin-bottom: 10px !important;">
  <p></p> Woogle © 2021 <p></p>
</div>